*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Sriracha', cursive;
}



.container{
    max-width: 80%;
    background-color: rgb(116, 31, 196);
    padding: 34px;
    margin: auto;
}
.container h1,p{
    text-align: center;
    font-family: 'Sriracha', cursive;
}
p{
    font-size: 18px;
    color: cyans;
}
h3{
    font-size: 20px;
}
input,textarea{
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px auto;
    padding: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.submitMsg{
    font-size: 25px;
    color: aqua;
}
